*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 225px;
    height: 150px;
    padding-top: 20px;
    padding-left: 40px;
}

.logoscript{
    width: 150px;
    height: 100px;
    padding-top: 30px;
    padding-left: 890px
}

main{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.contenedorcajatexto{
    position: absolute;
    left: 215px;
    top: 5px;
    padding-left: 100px;
    width: 500px;
    height: 430px;
}

.cajatexto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.50);
}

.cajatexto::placeholder{
    color: #0A3871;
}

.alerta{
    position: absolute;
    width: 280px;
    height: 18px;
    top: 445px;
    left: 390px;
    display: flex;
    color: #495057;
}

.contenedor-botones{
    position: absolute;
    top: 470px;
    height: 80px;
    padding-left: 28.5%;
    padding-top: 15px;
}

.btn-encriptar{
    width: 120px;
    height: 60px;
    border-radius: 24px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.btn-desencriptar{
    width: 120px;
    height: 60px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.seccion2{
    display: block;
    position: relative;
    width: 400px;
    height: 440px;
    right: 200px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px 5px rgba(0, 0, 0, 0.50);
}

.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 170px;
    left: 100px;
 }

 .contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.contenedor-parrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedor-resultado{
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 100px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

.contenedor-resultado p{
    color: #495057;
    font-size: 25px;
}

.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 430px;
    background-color: aqua;
    padding-left: 40px;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}

.ocultar{
    display: none;
}